<!DOCTYPE html>
<html>

<head>
    <title>Citas medicas</title>

</head>

<body>

    <div class="breadcrumbs">
        <div class="botonMenu" routerLink="/dashboard">
            <img src="/assets/dashboard/home.png" width="20px" height="20px">
            <p style="padding-left: 1rem;">Inicio</p>
        </div>
        <!--divisor-->
        <img src="/assets/dashboard/flechaRight.png" width="20px" height="20px">
        <div href="#" style="padding: 0rem 0.8rem; cursor: pointer; font-weight: 500;"
            routerLink="/horario/agregar-horario">Agregar Fecha</div>
        <!--divisor-->
    </div>
    <div class="dashboard-container">
        <div class="window" style="  border: 2px #06316B solid;">
            <div style="display: flex; flex-direction: row; ">
                <div (click)="regresar()" class="icon-back">
                    <img src="/assets/dashboard/back.png" width="40px">
                </div>
                <h1 class="title" style="font-size: 35px; font-weight: 400; margin:0rem;">Agregar Horario</h1>
            </div>
            <form [formGroup]="horarioForm" (ngSubmit)="onAgregarHorarioClick()" class="form">
                <div>
                  <div class="displayrowDate">
                    <div class="numCard card">1</div>
                    <div class="displayrow">
                      <label class="tituloSelect">Elige una fecha:</label>
                      <div class="displayrow2">
                        <input matInput [matDatepicker]="picker" formControlName="fecha" class="FechaInput disabled"
                        type="date" readonly>
                        <div class="calendar-input">
                          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="displayrowDate">
                    <div class="numCard card">2</div>
                    <div class="displayrow">
                      <label class="tituloSelect">Elige una hora:</label>
                      <input matInput formControlName="hora" class="FechaInput disabled" type="time">
                    </div>
                  </div>
                </div>
                <div class="btnContainer"
                    style="display: flex; justify-content: center; align-items: center; margin-top: 2rem;">
                    <button type="submit" class="btn-agregar-cita button-general" style="width: 30%;">Agregar
                        Horario</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
