<div class="displayrow">
    <div class="docdiv">
        <h1>Registrar doctor:</h1>
        <form class="formResponsive">
            <div class="input-forms">
                <label for="dropdown">Correo electrónico</label>
                <input type="text" class="inputs" >
            </div>
            <div class="input-forms">
                <label for="dropdown">Contraseña</label>
                <input type="password" class="inputs" >
            </div>
            <div class="input-forms">
                <label for="dropdown">Nombres</label>
                <input type="text" class="inputs">
            </div>
            <div class="input-forms">
                <label for="dropdown">Apellidos</label>
                <input type="text" class="inputs">
            </div>
            <div class="input-forms">
                <label for="dropdown">Especialidad</label>
                <input type="text" class="inputs">
            </div>
            <div class="input-forms">
                <label for="dropdown">Número de colegiado</label>
                <input type="text" class="inputs">
            </div>
            <div class="input-forms">
                <label for="dropdown">Teléfono</label>
                <input type="text" class="inputs">
            </div>
           
            </form>
    </div>
      <div>
          <img src="/assets/session/doctors.svg" class="imgDoc">
      </div>
</div>
