<!DOCTYPE html>
<html>

<head>
  <title>Citas medicas</title>
</head>

<body>
  <div class="dashboard-container">
    <div class="window" style="margin-top: 5rem;">
      <!------------------------------ RESEÑAS DE DOCTORES ------------------------------------>
      <div style="display: flex; flex-direction: row;">
        <div (click)="regresar()" class="icon-back">
          <img src="/assets/dashboard/back.png" width="40px">
        </div>
        <h1 class="title" style="font-size: 35px; font-weight: 400;">Clinicas Asociadas:</h1>
      </div>
      <div class="widgets">
        <div class="clinics-widget">
          <div class="imgClinic"></div>
          <h2> Clínica Medica Municipal</h2>
          <div class="mini-widget">
            Dirección: <b> 10av 10-23 Zona 5</b>
          </div>
        </div>

      </div>


    </div>
  </div>
</body>

</html>
