<!DOCTYPE html>
<html>

<head>
  <title>Citas medicas</title>
  <!-- Hotjar Tracking Code for https://650e62c2a1f7c16cb1b56de1--merry-conkies-3ab332.netlify.app/ -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:3666433,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>

<body>
  <div class="dashboard-container">
    <div class="window" style="margin-top: 5rem; width: 76%;">
      <!------------------------------ RESEÑAS DE DOCTORES ------------------------------------>
      <div style="display: flex; flex-direction: row;">
        <div (click)="regresar()" class="icon-back">
          <img src="/assets/dashboard/back.png" width="40px">
        </div>
        <h1 class="title" >Clinicas Asociadas:</h1>
      </div>
      <div class="displayWidgets">
        <!-- WIDGET-->
        <div class="widgets" *ngFor="let clinica of clinicas">
          <div class="clinics-widget">
            <h2>{{clinica.nameClinic}}</h2>
            <div class="mini-widget">
              Dirección: <b>{{clinica.direction}}</b>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</body>

</html>
