<!DOCTYPE html>
<html>

<head>
  <title>Citas medicas</title>
</head>

<body>
  <div class="dashboard-container">
    <div class="window" style="margin-top: 5rem; width: 76%;">
      <!------------------------------ RESEÑAS DE DOCTORES ------------------------------------>
      <div style="display: flex; flex-direction: row;">
        <div (click)="regresar()" class="icon-back">
          <img src="/assets/dashboard/back.png" width="40px">
        </div>
        <h1 class="title" style="font-size: 35px; font-weight: 400;">Clinicas Asociadas:</h1>
      </div>
      <div class="displayWidgets">
        <!-- WIDGET-->
        <div class="widgets" *ngFor="let clinica of clinicas">
          <div class="clinics-widget">
            <div class="imgClinic" [ngStyle]="{'background-image': 'url(' + clinica.image +')'}"></div>
            <h2>{{clinica.nameClinic}}</h2>
            <div class="mini-widget">
              Dirección: <b>{{clinica.direction}}</b>
            </div>
            <div style="padding: 0.3rem;">{{clinica.description}}</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</body>

</html>
