<!DOCTYPE html>
<html>
<head>
  <title>Solicitar Medicamento</title>

</head>
<body>
  <div class="dashboard-container">
  <div class="window">
  <h1 class="title" style="font-size: 35px; font-weight: 400;">Selecciona el medicamento que deseas solicitar:</h1>
  <div class="container">
    <select class="input-medicina">
      <option value="esomeprazol">Esomeprazol de 25g</option>
      <option value="ibuprofeno">Ibuprofeno</option>
      <option value="acetaminofen">Acetaminofen</option>
    </select>
    <button class="btn-solicitar button-general">Solicitar</button>
  </div>
  </div>
</div>
</body>
</html>
