<!DOCTYPE html>
<html>
<head>
  <title>Solicitar Medicamento</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    .title {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
    }

    .container {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .container select {
      margin-right: 10px;
    }

    .container button {
      font-size: 16px;
      padding: 10px 20px;
    }
  </style>
</head>
<body>
  <h1 class="title" style="font-size: 35px; font-weight: 400;">Selecciona el medicamento que deseas solicitar:</h1>
  <div class="container">
    <select class="input-medicina">
      <option value="esomeprazol">Esomeprazol de 25g</option>
      <option value="ibuprofeno">Ibuprofeno</option>
      <option value="acetaminofen">Acetaminofen</option>
    </select>
    <button class="btn-solicitar">Solicitar</button>
  </div>
</body>
</html>
