<!DOCTYPE html>
<html>

<head>
    <title>Diagnostico</title>

</head>

<body>

    <div class="breadcrumbs">
        <div class="botonMenu" routerLink="/dashboard">
            <img src="/assets/dashboard/home.png" width="20px" height="20px">
            <p style="padding-left: 1rem;">Inicio</p>
        </div>
        <!--divisor-->
        <img src="/assets/dashboard/flechaRight.png" width="20px" height="20px">
        <div href="#" style="padding: 0rem 0.8rem; cursor: pointer; font-weight: 500;" routerLink="/diagnostico">
            Diagnostico
        </div>
        <!--divisor-->
    </div>
    <div class="dashboard-container">
        <div class="window" style="  border: 2px #06316B solid;">
            <div style="display: flex; flex-direction: row; ">
                <div (click)="regresar()" class="icon-back">
                    <img src="/assets/dashboard/back.png" width="40px">
                </div>
                <h1 class="title" style="font-size: 35px; font-weight: 400; margin:0rem;">Diagnostico</h1>
            </div>
            <div class="displayrow">
                <div>
                    <!-- Citas  activas -->
                    <div class=" card cardCentral" style="margin-left: 2rem; padding: 2rem;">
                        <div class="details-card"
                            style="display: flex; align-items: center; justify-content: space-around; color: #06316B; margin-left: 2rem;">
                            <div
                                style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                                <h2>Fecha:</h2>
                                <p style="margin-bottom: 0.7rem; margin-left: 0.4rem;"> {{
                                    cita.citasPendientes[0].fecha
                                    }}
                                </p>
                            </div>
                            <div
                                style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                                <h2>Hora:</h2>
                                <p style="margin-bottom: 0.7rem; margin-left: 0.4rem;"> {{
                                    cita.citasPendientes[0].hora
                                    }}
                                </p>
                            </div>
                        </div>

                    </div>
                    <div *ngIf="isEditMode">
                        <form [formGroup]="diagnosticoForm" (ngSubmit)="onUpdateDiagnostico()" class="form">
                            <div class="displayrow card" style="margin-left: 2rem; padding: 2rem;">
                                <img src="/assets/dashboard/citas.png" width="100px">
                                <div style="align-items: left; text-align: left; color: #06316B; margin-left: 2rem;">
                                    <h2>Detalles:</h2>
                                    <div style="display: flex; flex-direction: column;">
                                        <label>Hazle saber a tu paciente <br />qué le has recetado o encontrado en esta
                                            visita</label>
                                        <textarea matInput type="text" id="diagnostico" formControlName="diagnostico"
                                            style="margin-top: 1rem;" placeholder="{{diagnostico.diagnostico[0].diagnostico}}" required>{{diagnostico.diagnostico[0].diagnostico}}</textarea>
                                        <button class="button-general citasbtn" style="margin-top: 1rem;"
                                            type="submit">Guardar</button>
                                        <button class="button-general citasbtn" style="margin-top: 1rem; background-image: none; background-color: #fff; border: 2px solid #06316B; color: #000;" (click)="onCancel()"
                                        >Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="!isEditMode">
                        <div class="displayrow card"
                            style="margin-left: 2rem; padding: 2rem; display: flex; flex-direction: column;">
                            <img src="/assets/dashboard/citas.png" width="100px">
                            <div style="align-items: left; text-align: left; color: #06316B; margin-left: 2rem;">
                                <h2>Detalles:</h2>
                                <div style="display: flex; flex-direction: column;">
                                    <label *ngIf="user_role === 'doctor'">Este es el diagnostico actual de tu paciente</label>
                                    <label *ngIf="user_role === 'paciente'">Este es tu diagnostico actual de esta cita</label>
                                    <span
                                        style="color: #000; background-color: #fff; height: 10vh; margin-top: 1rem; border: 1.5px solid #06316B; border-radius: 4px; padding: 0.6rem;">{{
                                        diagnostico.diagnostico[0].diagnostico }}</span>
                                    <button *ngIf="user_role === 'doctor'" class="button-general citasbtn" style="margin-top: 1rem;"
                                        (click)="onEditDiagnostico()">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>