<!DOCTYPE html>
<html>
<head>
  <title>Citas medicas</title>

</head>
<body>

<div class="breadcrumbs">
  <div class="botonMenu" routerLink="/dashboard">
    <img src="/assets/dashboard/home.png" width="20px" height="20px">
    <p style="padding-left: 1rem;">Inicio</p>
  </div>
  <!--divisor-->
  <img src="/assets/dashboard/flechaRight.png" width="20px" height="20px">
  <div href="#" style="padding: 0rem 0.8rem; cursor: pointer; font-weight: 500;" routerLink="/horario">Mi Horario</div>
  <!--divisor-->
</div>
  <div class="dashboard-container">
    <div class="window" style="  border: 2px #06316B solid;">
        <div style="display: flex; flex-direction: row; ">
            <div (click)="regresar()" class="icon-back">
              <img src="/assets/dashboard/back.png" width="40px">
            </div>
            <h1 class="title" style="font-size: 35px; font-weight: 400; margin:0rem;" >Mi Horario</h1>
        </div>
        <div class="search-container" style="display: flex; justify-content: space-between; align-items: center;">
                <button class="btn-agendar button-general" style="margin-left: 1.5rem;" routerLink="/horario/agregar-horario">+</button>
                <div class="search-bar" style="display: flex; justify-content: end;">
                    <input type="text" [formControl]="searchControl" placeholder="Buscar" class="Buscador">
                    <mat-icon class="search-icon">search</mat-icon>
                </div>
          </div>
          <ng-container *ngIf="horariosMedico.length > 0; else noCitas">
        <div class="background">
            <div class="cards-container" style="display: flex; justify-content: center; height: 60%;">

              <table class="table-design">
                <thead>
                  <tr>
                    <th style="text-align: center;">Fecha</th>
                    <th style="text-align: center;">Hora</th>
                    <th style="text-align: center;">Editar Horario</th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let group of groupedHorarios">
                      <tr *ngFor="let horario of group.horarios">
                        <ng-container *ngIf="group.horarios.indexOf(horario) === 0">
                          <td style="width: 40%;" [attr.rowspan]="group.horarios.length">{{ group.fecha }}</td>
                        </ng-container>
                        <td style="width: 40%;">{{ horario.hora }}</td>
                        <td style="width: 20%; text-align: center; vertical-align: middle;">
                            <button (click)="visualizarItem()" class="btn-visualizar button-general" [attr.rowspan]="group.horarios.length" style="width: 50%;">Editar</button>
                        </td>                          
                      </tr>
                    </ng-container>
                </tbody>
              </table>
            </div>

        </div>

  </ng-container>

  <ng-template #noCitas>
    <div class="no-schedules-message">
      <img src="/assets/unDraw/none.svg" width="300px">
      <h2>No tienes ningún horario asignado</h2>
      <h4>¿Deseas agregar fecha y hora de disponibilidad?</h4>
      <button class="btn-agendar button-general" routerLink="/agregar-cita">Agregar Disponibilidad</button>

    </div>
  </ng-template>
</div>
  </div>
</body>
</html>
