<!DOCTYPE html>
<html>
<head>
  <title>Citas medicas</title>

</head>
<body>
  <div class="dashboard-container">
  <div class="window">
  <h1 class="title" style="font-size: 35px; font-weight: 400;">Citas:</h1>
  <div class="cards-container" style="display: flex; justify-content: center; height: 60%;">
            <div class="card principal-color" style="margin-right: 3rem;">
                <img src="assets\dashboard\agendar-citas.svg" alt="">
                <div class="card-content">
                    <h2 class="card-title">Citas<br>pendientes</h2>
                </div>
            </div>

            <div class="card principal-color" routerLink="/medicamentos">
                <img src="assets\dashboard\solicitar-medicamentos.png" alt="">
                <div class="card-content">
                    <h2 class="card-title">Listado de<br>clientes</h2>
                </div>
            </div>
        </div>
  </div>
</div>
</body>
</html>
