.dashboard-container {
    padding: 3rem 5rem;
}

.no-doctores-message {
    justify-content: center;
    align-items: center;
    text-align: center;

}

.search-container {
    text-align: right !important;
    align-items: right !important;
    justify-content: end;
}

.table-design {
    width: 100%;
    border-collapse: collapse;
}

.table-design thead th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.table-design tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.titles{
  font-size: 35px;
  font-weight: 400;
  margin:0rem;

}
.btn-visualizar {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-visualizar:hover {
    background-color: #45a049;
}

.btn-visualizar:focus {
    outline: none;
}

.btn-visualizar:active {
    background-color: #3e8e41;
}

.background {
    padding: 1rem;
    background-color: #33333315;
    border-radius: 1rem;
}

.Buscador {
    width: 200px;
    margin-bottom: 1rem;
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 35%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}

.btn-agendar{
  border: 2px solid #06316B;
  padding: 0.2rem 0.3em;
  border-radius: 0.5rem;
  font-size: 30px;
  width: max-content;
  height: max-content;
}
.btn-agendar:hover{
  background-color: #06326b14;
  cursor: pointer;
}
.textAdd{
  font-size: 25px;
  margin-left: 0.8rem;
}
.displayrow{
  padding: 0rem;
  margin: 0rem;
}
@media (max-width: 560px){
  .search-bar{
    display: none !important;
  }
  .textAdd{
    font-size: 20px !important;
  }
  .dashboard-container{
    padding: 3rem 1rem;
  }
}
@media(max-width: 350px){
  .window{
    width: 100%;
    padding: 1rem !important;
  }
}
