<!-- ----------------------------------COMPONENTE DE SESSIONS---------------------------------- -->
<ng-container *ngIf="!isLoggedIn">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
  </style>
  <div class="app-wrapper">
    <div class="container-session">
      <ng-container>
        <!--Contenido de sessions-->
        <div>
          <router-outlet></router-outlet>
        </div>
        <div>
          <div class="background-image"></div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<!-- ----------------------------------COMPONENTE DE DASHBOARDS DESPUES DE INICIO---------------------------------- -->

<ng-container *ngIf="isLoggedIn">
<div class="container">
  <mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="'side'" [opened]="true" [fixedInViewport]="true"
      [ngClass]="sidenavExpanded ? 'expanded' : 'collapsed'">
      <mat-toolbar>
        <div class="toolbar-content">
          <!-- Contenido de -->
          <mat-icon [ngClass]="sidenavExpanded ? 'icon-expanded' : 'icon-collapsed'" style="size: 500px; padding-left: 0.5rem;" class="titles">account_circle</mat-icon>
          <button (click)="toggleSidenav()" class="chevron">
            <mat-icon class="chevron" [ngClass]="sidenavExpanded ? 'icon-expanded' : 'icon-collapsed'">{{ sidenavExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <mat-list>
        <mat-list-item style="margin-bottom: 1rem;" routerLink="/dashboard">
          <mat-icon>home</mat-icon>
          <span class="titles">Inicio</span>
        </mat-list-item>
        <mat-list-item style="margin-bottom: 1rem;">
          <mat-icon>event</mat-icon>
          <span class="titles">Citas pendientes</span>
        </mat-list-item>
        <mat-list-item style="margin-bottom: 1rem;">
          <mat-icon>list</mat-icon>
          <span class="titles">Listado de citas</span>
        </mat-list-item>
        <mat-list-item style="margin-bottom: 1rem;">
          <mat-icon>rate_review</mat-icon>
          <span class="titles">Reseñas</span>
        </mat-list-item>
        <mat-list-item style="margin-bottom: 1rem;">
          <mat-icon>settings</mat-icon>
          <span class="titles">Configuración</span>
        </mat-list-item>
        <mat-list-item style="margin-bottom: 1rem;">
          <mat-icon>exit_to_app</mat-icon>
          <span class="titles">Cerrar sesión</span>
        </mat-list-item>
      </mat-list>
      <mat-list class="titles">
        <div class="footer-side">
          <div style="justify-content: space-between;">
            <mat-icon style=" color: #06316B; size: 25px; ">account_circle</mat-icon>
            <label class="name-user"> @UsuarioAdmin</label>
          </div>
          <button class="button-plan"> Cambiar plan</button>
        </div>
      </mat-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <!--Fondo degradado-->
      <div  [ngClass]="sidenavExpanded ? 'dark-background' : ''"></div>
      <router-outlet ></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

</ng-container>
