<!-- ----------------------------------COMPONENTE DE SESSIONS---------------------------------- -->
<ng-container *ngIf="!isLoggedIn">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
  </style>
  <div class="app-wrapper">
    <div class="container-session">
      <ng-container>
        <!--Contenido de sessions-->
        <div>
          <router-outlet></router-outlet>
        </div>
        <div>
          <div class="background-image"></div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<!-- ----------------------------------COMPONENTE DE DASHBOARDS DESPUES DE INICIO---------------------------------- -->

<ng-container *ngIf="isLoggedIn">

  <mat-drawer-container class="container-mat-drawer" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <img src="/assets/dashboard/logoMedicData.png" width="220px">
      <div class="botonMenu" (click)="drawer.toggle()" routerLink="/dashboard">
        <img src="/assets/dashboard/home.png" width="20px" height="20px">
        <p style="padding-left: 1rem;">Inicio</p>
      </div>
      <br>

      <div class="botonMenu" (click)="drawer.toggle()">
        <img src="/assets/dashboard/doc.png" width="20px" height="20px">
        <p style="padding-left: 1rem;">Especialidades</p>
      </div>
      <br>

      <div class="botonMenu" (click)="drawer.toggle()">
        <img src="/assets/dashboard/ubi.png" width="20px" height="20px">
        <p style="padding-left: 1rem;">Ubicaciones</p>
      </div>
      <br>

      <div class="botonMenu" (click)="drawer.toggle()" routerLink="/comentarios" >
        <img src="/assets/dashboard/resenias.png" width="20px" height="20px">
        <p style="padding-left: 1rem;">Reseñas</p>
      </div>
      <br>
      <div class="botonMenu" (click)="drawer.toggle()" routerLink="/configuracion" >
        <img src="/assets/dashboard/config.png" width="20px" height="20px">
        <p style="padding-left: 1rem;">Configuración</p>
      </div>
      <br>

      <div class="botonMenu Exit" (click)="RemoveTokenLogOut()">
        <img src="/assets/dashboard/exit.png" width="20px" height="20px">
        <p style="padding-left: 1rem;">Cerrar sesión</p>
      </div>
    </mat-drawer>

    <div class="example-sidenav-content">
        <div class="btn-menu" (click)="drawer.toggle()">
          <img src="/assets/dashboard/menu.svg" style="width: 30px; padding: 0.6rem;">

        </div>
      <router-outlet ></router-outlet>

    </div>

  </mat-drawer-container>

</ng-container>


<!--

        <router-outlet ></router-outlet>

-->
