
.app-wrapper {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  height: 100vh !important;
  width: 100vw;
  position: relative;
}

.img-session{
  width: 100%;
}
.container-session{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
container-session > ng-container{
  margin: 0 !important;
}

h1{
  display: flex;
  font-family: 'Quicksand';
  font-weight: 600;
}

//haz un media query para que despues de los 1700px se elimine la imagen y se muestre solo el formulario
@media (max-width: 900px) {
  .background-image{
    display: none;
  }
  .container-session{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegúrate de que el contenedor tenga un ancho del 100% */
  }
  .img-session{
    display: none;
  }
  .login-container{
    width: 100%;
    min-width: 300px; /* Establece un ancho mínimo para el formulario */
  }
  .register-container{
    width: 100%;
    min-width: 300px; /* Establece un ancho mínimo para el formulario */
  }

}

.background-image {
  background-image: url('/assets/session/logo-img.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}