.add-citas-container {
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Quicksand';
}

.window {
    margin: 2vh 0;
    height: 60%;
}

.title-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 30px;
    margin: 0 0 2rem;
    color: #06316B;
}

.select-fields {
    justify-self: center;
    align-self: center;
    padding: 0 2rem 2rem 2rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropbtn {
    color: white;
    width: 100%;
    height: 2rem;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10rem;
    width: auto;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.scrollable-dropdown {
    max-height: 10rem;
    overflow-y: auto;
}

.dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content span:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content.above {
    bottom: calc(100% + 4px);
}

.btn-agregar-cita {
    position: absolute;
    text-decoration: underline;
    bottom: 6rem;
    right: 1rem;
    color: #fff;
    width: 15rem;
    height: 5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    margin: 1rem 0;
}

.selected-options {
    width: 100%;
    background-color: #fff;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #06316B;
    padding: 5px;
    font-size: 1rem;
    color: #06316B;
}

/* || GENERAL STYLES */

h2 {
    color: #fff;
    text-align: center;
    font-size: 37px;
    font-weight: bold;
}

p {
    font-weight: 700;
    font-size: 2rem;
    color: #06316B;
    margin: 1rem 0;
}