.add-citas-container {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Quicksand';
}

.window {
    margin: 2vh 0;
    height: 60%;
}
.tituloSelect{
  background-color: white;
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.title-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 30px;
    margin: 0 0 2rem;
    color: #06316B;
}

.select-fields {
    width: 450px;
    height: 99px;
    justify-self: center;
    align-self: center;
    border: 2px solid #06316B;
    border-radius: 0.6rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropbtn {
    color: white;
    border-radius: 0rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    width: 100%;
    height: 3rem;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #f1f1f1;
    min-width: 10rem;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.scrollable-dropdown {
    max-height: 10rem;
    overflow-y: auto;
}

.dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content span:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content.above {
    bottom: calc(100% + 4px);
}

.btn-agregar-cita {
    bottom: 6rem;
    right: 1rem;
    color: #fff;
    width: 15rem;
    height: 5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    margin: 1rem 0;
}

.selected-options {
    width: 100%;
    background-color: #fff;
    border-radius: 0.3rem;
    font-size: 1rem;
    color: #06316B;
}

/* || GENERAL STYLES */

h2 {
    color: #fff;
    text-align: center;
    font-size: 37px;
    font-weight: bold;
}


.date-container{
  margin-left: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


input{
  width: -webkit-fill-available !important;
  border: none;
  border-radius: 0rem;
  height: 99px;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  padding-left: 0.5rem;
  background-color: #06316B;
  color: white;
}

.card{
  display: table-cell;
  width: 80%;
  margin-bottom: 1rem;
  padding: 1rem;
}
