
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<div class="breadcrumbs">
  <div class="botonMenu" routerLink="/dashboard">
    <img src="/assets/dashboard/home.png" width="20px" height="20px">
    <p style="padding-left: 1rem;">Inicio</p>
  </div>
  <!--divisor-->
  <img src="/assets/dashboard/flechaRight.png" width="20px" height="20px">
  <div href="#" style="padding: 0rem 0.8rem; cursor: pointer; font-weight: 500;" routerLink="/agregar-cita">Agendar Cita</div>
  <!--divisor-->

</div>
<form [formGroup]="citaForm" (ngSubmit)="onAgendarClick()" style="padding: 2rem;">
            <div class="title-bar">
                <span style="font-size: 2rem; ">Paciente: </span>
            </div>
            <div class="agregar-citas-details"
                style="display: flex; flex-direction: row; align-items: flex-start; height: 100%; margin-top: 2rem;">
                <div class="dropdown-container" style="display: flex; flex-direction: column;">
                        <div class="select-fields">
                          <label class="tituloSelect">1. Selecciona tu especialidad:</label>
                            <div class="dropdown">
                                <button class="dropbtn" (click)="toggleDropdown($event)">{{ selectedClinica }}</button>
                                <div class="dropdown-content scrollable-dropdown" [class.above]="isDropdownAbove">
                                    <span class="option" *ngFor="let option of clinicas"
                                        (click)="selectOption(option, 'clinica')">{{ option.nombre }}</span>
                                </div>
                            </div>
                        </div>


                    <div class="select-fields">
                      <label class="tituloSelect">2. Selecciona la clinica de tu preferencia:</label>
                      <div class="dropdown">
                          <button class="dropbtn" (click)="toggleDropdown($event)">{{ selectedEspecialidad }}</button>
                          <div class="dropdown-content scrollable-dropdown" [class.above]="isDropdownAbove">
                              <span class="option" *ngFor="let option of especialidades"
                                  (click)="selectOption(option, 'especialidad')">{{ option }}</span>
                          </div>
                      </div>
                  </div>
                    <div class="select-fields">
                        <label class="tituloSelect">3. Selecciona un medico disponible:</label>
                        <div class="dropdown">
                            <button class="dropbtn" (click)="toggleDropdown($event)">{{ selectedEspecialidad }}</button>
                            <div class="dropdown-content scrollable-dropdown" [class.above]="isDropdownAbove">
                                <span class="option" *ngFor="let option of medicos"
                                    (click)="selectOption(option, 'medico')">{{ option.nombres + " " + option.apellidos
                                    }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="date-container">
                    <div class="select-fields">
                        <label class="tituloSelect">Fecha:</label>
                        <input type="date" class="date-input" formControlName="fecha">
                    </div>
                    <div class="select-fields">
                        <label class="tituloSelect">Hora:</label>
                        <input type="time" class="date-input" formControlName="hora">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn-agregar-cita">Agendar</button>
</form>
