<!DOCTYPE html>
<html>

<head>
  <!-- Hotjar Tracking Code for https://650e62c2a1f7c16cb1b56de1--merry-conkies-3ab332.netlify.app/ -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () {
        (h.hj.q = h.hj.q || []).push(arguments)
      };
      h._hjSettings = {
        hjid: 3666433,
        hjsv: 6
      };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script');
      r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
  <!-- Add any other head content as needed -->
</head>

<div class="breadcrumbs">
  <div class="botonMenu" routerLink="/dashboard">
    <img src="/assets/dashboard/home.png" width="20px" height="20px">
    <p style="padding-left: 1rem;">Inicio</p>
  </div>
  <!--divisor-->
  <img src="/assets/dashboard/flechaRight.png" width="20px" height="20px">
  <div href="#" style="padding: 0rem 0.8rem; cursor: pointer; font-weight: 500;" routerLink="/agregar-cita">Agendar Cita</div>
  <!--divisor-->
</div>

<div class="displayrow">
  <form [formGroup]="citaForm" (ngSubmit)="onAgendarClick()" style="padding: 2rem;" class="card">
    <div class="title-bar">
      <span style="font-size: 2rem;">Agendar cita:</span>
      <label for="">Paciente: {{ nameUser }}</label>
    </div>
    <div class="agregar-citas-details">
      <div class="dropdown-container" style="display: flex; flex-direction: column;">
        <div style="display: inherit; flex-direction: row">
          <div class="numCard card">
            1
          </div>
          <div class="select-fields">
            <label class="tituloSelect">Selecciona la clinica de tu preferencia:</label>
            <div class="dropdown">
              <button class="dropbtn button-general" (click)="toggleDropdown($event)">{{ selectedClinica }}</button>
              <div class="dropdown-content scrollable-dropdown" [class.above]="isDropdownAbove">
                <span class="option" *ngFor="let option of clinicas" (click)="selectOption(option, 'clinica')">{{ option.nombre }}</span>
              </div>
            </div>
          </div>
        </div>
        <div style="display: inherit; flex-direction: row">
          <div class="numCard card">
            2
          </div>
          <div class="select-fields">
            <label class="tituloSelect">Selecciona tu especialidad:</label>
            <div class="dropdown">
              <button class="dropbtn button-general" (click)="toggleDropdown($event)">{{ selectedEspecialidad }}</button>
              <div class="dropdown-content scrollable-dropdown" [class.above]="isDropdownAbove">
                <span class="option" *ngFor="let option of especialidades" (click)="selectOption(option, 'especialidad')">{{ option }}</span>
              </div>
            </div>
          </div>
        </div>
        <div style="display: inherit; flex-direction: row">
          <div class="numCard card">
            3
          </div>
          <div class="select-fields">
            <label class="tituloSelect">Selecciona un medico disponible:</label>
            <div class="dropdown">
              <button class="dropbtn button-general" (click)="toggleDropdown($event)">{{ selectedMedico }}</button>
              <div class="dropdown-content scrollable-dropdown" [class.above]="isDropdownAbove">
                <span class="option" *ngFor="let option of medicos" (click)="selectOption(option, 'medico')">{{ option.full_name }}</span>
              </div>
            </div>
          </div>
        </div>
        <div style="display: inherit; flex-direction: row">
          <div class="numCard card">
            4
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" formControlName="fecha" (dateChange)="updateFilteredTimes()">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>                        
          </div>
        </div>
        <div class="horas-widget" *ngIf="selectedDate">
          <mat-radio-group name="time" [(ngModel)]="selectedTime" formControlName="hora">
            <mat-radio-button *ngFor="let time of filteredTimes" [value]="time">{{ time }}</mat-radio-button>
          </mat-radio-group>
        </div>       
      </div>
    </div>
    <button type="submit" class="btn-agregar-cita button-general">Agendar cita</button>
  </form>
  <img src="/assets/unDraw/documents.svg" width="500px" style="padding: 0rem 2rem;">
</div>
<div style="padding-top: 1rem;"></div>

</html>
