<!DOCTYPE html>
<html>

<head>
  <title>Citas medicas</title>
</head>

<body>
  <div class="dashboard-container">
    <div class="window" style="margin-top: 5rem;">
      <!------------------------------ RESEÑAS DE DOCTORES ------------------------------------>
      <div style="display: flex; flex-direction: row;">
        <div (click)="regresar()" class="icon-back">
          <img src="/assets/dashboard/back.png" width="40px">
        </div>
        <h1 class="title" style="font-size: 35px; font-weight: 400;">Reseñas de doctores:</h1>
      </div>
      <div class="widgets">
        <!-- Reseñas-->
        <div class="resenias-widget" *ngFor="let resenia of resenias">
          <div style="display: flex; flex-direction: row;">

            <!--Imagen perfil doctor-->
            <img src="\assets\perfil.png" class="img-resenia" alt="">

            <!--Nombre y calificaciones-->
            <div class="namesCard">
              <span class="name-resenia">{{ resenia.medico }}</span>
              <span style=" font-size: 12px;">Hecha por: {{ resenia.paciente }}</span>
            </div>

          </div>

          <!-- Estrellas de calificacion-->
          <div class="reviews">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]" >
              <mat-icon
                style="font-size: 25px; padding: 0rem 0.5rem; color: {{ star <= resenia.calificacion ? 'yellow' : '#06326B3B' }}">star</mat-icon>
            </ng-container>
          </div>

          <div class="reviews" style="height: 150px;">
            <h3 style="text-align: left; padding-left: 1rem;"> Comentario:</h3>
            <p style="text-align: justify; padding: 0rem 1rem; " [matTooltip]="resenia.comentario">{{
              resenia.comentario.slice(0, 80) }}{{ resenia.comentario.length > 20 ? '...' : '' }}</p>
          </div>
        </div>
      </div>



    </div>
  </div>
</body>

</html>
