.widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-x: hidden; /* Quita el scroll horizontal */
    overflow-y: auto;
    scrollbar-width: thin;

  }

  .icon-back{

  }
  .resenias-widget {
    border: 2px solid #06316B;
    background-color: white;
    padding: 1rem;
    width: 300px; /* Muestra 4 widgets por fila en pantallas grandes */
    height: 300px;
    border-radius: 1rem;
    color: black !important;
    margin: 0.5rem;
  }

  .img-resenia {
    border: 2px solid #06316B;
    border-radius: 50%;
    width: 15%;
    height: 15%;
    padding: 0.2rem;
    background-color: white;
    z-index: 10;
  }
  .namesCard{
    position: absolute;
    margin-left: 1.9rem;
    border: 2px solid #06316B;
    border-left: none;
    display: flex;
    width: 230px;
    background-color: #06316B;
    color: white;
    flex-direction: column;
    padding: 0rem 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .name-resenia {
    padding-left: 1rem;
    font-weight: 700;
    font-size: 20px;
  }

  /* Media queries para ajustar la cantidad de widgets por fila en diferentes tamaños de pantalla */

  @media (max-width: 1200px) {
    .resenias-widget {
      width: calc(33.33% - 2rem); /* Muestra 3 widgets por fila en pantallas medianas */
    }
  }

  @media (max-width: 900px) {
    .resenias-widget {
      width: calc(50% - 2rem); /* Muestra 2 widgets por fila en pantallas pequeñas */
    }
  }

  @media (max-width: 600px) {
    .resenias-widget {
      width: calc(100% - 2rem); /* Muestra 1 widget por fila en pantallas extra pequeñas */
    }
  }

  .reviews{
    margin-top: 1rem;
    background-color: #06326b0f;
    border-radius: 1rem;
    padding: 0.5rem 0rem;
  }
