<!DOCTYPE html>
<html>
<head>
  <title>Citas medicas</title>
</head>
<body>
  <div class="dashboard-container">
    <div class="window">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <h1 class="title" style="font-size: 35px; font-weight: 400;">Reseñas de doctores:</h1>
            <mat-icon (click)="regresar()" class="icon-back">arrow_back</mat-icon>
        </div>
        <!-- Reseñas-->
        <div class="resenias-widget">
          <div style="display: flex; flex-direction: row;">

            <!--Imagen perfil doctor-->
            <img src="\assets\perfil.png" class="img-resenia" alt="">

            <!--Nombre y calificaciones-->
            <div style="display: flex; flex-direction: column;">
              <span class="name-resenia">Gabriel Ortega</span>
              <span style="padding-bottom: 1rem;">98 calificaciones</span>
            </div>

          </div>
          <!-- Estrellas de calificacion-->
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <mat-icon style="font-size: 25px; padding: 0rem 0.5rem; color: {{ star <= rating ? 'yellow' : 'white' }}">star</mat-icon>
          </ng-container>
          <!--Reseña-->
            <h3 class="name-resenia">Satisfactorio</h3>
            <p #textoLimitado style="text-align: justify;">{{ texto }}</p>
          
        </div>
        <h1 class="title" style="font-size: 35px; font-weight: 400;">Reseñas de clinicas:</h1>
        <div class="resenias-widget">
          <div style="display: flex; flex-direction: row;">

            <!--Imagen perfil doctor-->
            <img src="\assets\perfil.png" class="img-resenia" alt="">

            <!--Nombre y calificaciones-->
            <div style="display: flex; flex-direction: column;">
              <span class="name-resenia">Clinica San Carlos</span>
              <span style="padding-bottom: 1rem;">98 calificaciones</span>
            </div>

          </div>
          <!-- Estrellas de calificacion-->
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <mat-icon style="font-size: 25px; padding: 0rem 0.5rem; color: {{ star <= rating ? 'yellow' : 'white' }}">star</mat-icon>
          </ng-container>
          <!--Reseña-->
            <h3 class="name-resenia">Satisfactorio</h3>
            <p #textoLimitado style="text-align: justify;">{{ texto }}</p>
          
        </div>


    </div>
  </div>
</body>
</html>
