.resenias-widget{
    background-color: #06316B;
    padding: 1.5rem;
    width: 280px;
    border-radius: 1rem;
    color: white !important;
}

.img-resenia{
    width: 45px;
    height: 45px;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.name-resenia{
    font-weight: 700;
    font-size: 24px;
}

