<div class="config-container">
    <div class="window">
        <div class="title-bar">
            <span style="font-size: 2rem; font-weight: bold;">Configuración de la Cuenta</span>
            <p>Aquí puedes cambiar tu correo y contraseña</p>
        </div>
    </div>
    <div class="window">
        <div class="title-bar">
            <span style="font-size: 2rem; font-weight: bold;">Configuración de la Cuenta</span>
            <p>Aquí puedes cambiar tu correo y contraseña</p>
        </div>
    </div>
    <div class="window">
        <div class="title-bar">
            <span style="font-size: 2rem; font-weight: bold;">Configuración de la Cuenta</span>
            <p>Aquí puedes cambiar tu correo y contraseña</p>
        </div>
    </div>
</div>