.config-container {
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Quicksand';
    padding: 3rem 4rem;
}

.window {
    margin: 2vh 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.title-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 30px;
    margin: 0 0 3rem;
    color: #06316B;
}

.input-container {
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.change-multiple {
    height: 100%;
    width: 100%;
    display: flex;
}

.fields {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.field-texts {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.fields input {
    width: 80%;
}

.field-texts button {
    width: 50%;
}

/* || GENERAL STYLES */

h2 {
    color: #fff;
    text-align: center;
    font-size: 37px;
    font-weight: bold;
}

img {
    width: 20%;
    object-fit: cover;
}

p {
    font-weight: 700;
    color: #06316B;
}
