<div class="config-container">
    <div class="window">
        <div class="title-bar">
            <span class="textConfig">Configuración de la Cuenta</span>
            <p>Aquí puedes cambiar tu correo y contraseña</p>
        </div>
        <div class="change-account-details">
            <div class="change-email" style="width: 80%;">
                <p>DIRECCIÓN DE CORREO</p>
                <div class="input-container">
                    <input type="text" placeholder="Correo electrónico">
                    <button class="change-email-btn btn-primary button-general" style="margin-left: 0.5rem;">Cambiar</button>
                </div>
            </div>
            <div class="change-multiple">
                <div class="field-texts">
                    <div class="fields">
                        <p style="text-align: left">CONTRASEÑA ACTUAL</p>
                        <input type="password" placeholder="Contraseña actual">
                    </div>
                    <div class="fields">
                        <p style="text-align: left">NUEVA CONTRASEÑA</p>
                        <input type="password" placeholder="Nueva contraseña">
                    </div>
                    <div class="fields">
                        <p style="text-align: left">CONFIRMAR CONTRASEÑA</p>
                        <input type="password" placeholder="Confirmar contraseña">
                    </div>
                    <div class="fields">
                        <button class="change-pswd-btn btn-primary button-general"
                            style="height: 50%; width: 50%;">Cambiar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="window">
        <div class="title-bar">
            <span style="font-size: 2rem; font-weight: bold;">Configuración de Perfil</span>
            <p>Aquí puedes cambiar tu nombre de usuario y otras configuraciones de perfil</p>
        </div>
        <div class="change-multiple">
            <div class="field-texts">
                <div class="fields" style="width: 30%; display: flex; flex-direction: columns; justify-content: center;">
                    <p style="text-align: left">NOMBRE DE DISPLAY</p>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <input type="text" placeholder="{{nameUser}}">
                        <button class="change-pswd-btn btn-primary button-general"
                            style="height: 80%; width: 50%; margin-left: 0.5rem;">Guardar</button>
                    </div>
                </div>
                <div class="fields" style="margin-left: 1rem; width: 30%; display: flex; flex-direction: columns; justify-content: center;">
                    <p style="text-align: left">TELEFONO</p>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                        <input type="text" placeholder="{{phoneUser}}">
                        <button class="change-pswd-btn btn-primary button-general"
                            style="height: 80%; width: 50%; margin-left: 0.5rem;">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="profileRole === 'paciente'" class="main-dashboard">
        <div class="window">
            <div class="title-bar">
                <span style="font-size: 2rem; font-weight: bold;">Configuración de Información Médica</span>
                <p>Aquí puedes cambiar la información sobre tus detalles médicos</p>
            </div>
            <div class="fields" style="width: 100%;">
                <p style="text-align: left">ALERGIAS</p>
                <textarea cols="30" rows="10" placeholder="Escribe aquí tu información médica"></textarea>
            </div>
            <div class="fields" style="width: 100%;">
                <p style="text-align: left">COMPLICACIONES MÉDICAS</p>
                <textarea cols="30" rows="10" placeholder="Escribe aquí tu información médica"></textarea>
            </div>
        </div>
    </div>
</div>