<div class="config-container">
    <div class="window">
        <div class="title-bar">
            <span style="font-size: 2rem; font-weight: bold;">Configuración de la Cuenta</span>
            <p>Aquí puedes cambiar tu correo y contraseña</p>
        </div>
        <div class="change-account-details" style="display: flex; flex-direction: column;">
            <div class="change-email" style="display: flex; flex-direction: column; margin-bottom: 0.5rem;">
                <p>DIRECCIÓN DE CORREO</p>
                <div class="input-container">
                    <input type="text" placeholder="Correo electrónico" style="width: 30%;">
                    <button class="change-email-btn btn-primary"
                        style="width: 10rem; height: 100%; margin: 0 1rem;">Cambiar</button>
                </div>
            </div>
            <div class="change-multiple">
                <div class="field-texts">
                    <div class="fields">
                        <p>CONTRASEÑA ACTUAL</p>
                        <input type="password" placeholder="Contraseña actual">
                    </div>
                    <div class="fields">
                        <p>NUEVA CONTRASEÑA</p>
                        <input type="password" placeholder="Nueva contraseña">
                    </div>
                    <div class="fields">
                        <p>CONFIRMAR CONTRASEÑA</p>
                        <input type="password" placeholder="Confirmar contraseña">
                    </div>
                    <div class="fields">
                        <button class="change-pswd-btn btn-primary" style="height: 50%; width: 50%;">Cambiar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="window">
        <div class="title-bar">
            <span style="font-size: 2rem; font-weight: bold;">Configuración de Perfil</span>
            <p>Aquí puedes cambiar tu nombre de usuario y otras configuraciones de perfil</p>
        </div>
        <div class="change-multiple">
            <div class="field-texts">
                <div class="fields" style="width: 30%;">
                    <p>NOMBRE DE DISPLAY</p>
                    <input type="text" placeholder="Mario Cristales">
                </div>
                <div class="fields">
                    <p>TELEFONO</p>
                    <input type="text" placeholder="0000-0000" style="width: 30%;">
                </div>
            </div>
        </div>
    </div>
    <div class="window">
        <div class="title-bar">
            <span style="font-size: 2rem; font-weight: bold;">Configuración de Información Médica</span>
            <p>Aquí puedes cambiar la información sobre tus detalles médicos</p>
        </div>
        <div class="fields" style="width: 100%;">
            <p>ALERGIAS</p>
            <textarea cols="30" rows="10" placeholder="Escribe aquí tu información médica"></textarea>
        </div>
        <div class="fields" style="width: 100%;">
            <p>COMPLICACIONES MÉDICAS</p>
            <textarea cols="30" rows="10" placeholder="Escribe aquí tu información médica"></textarea>
        </div>
    </div>
</div>