<div class="dashboard-container">
    <div class="window">
        <div class="title-bar">
            <span style="font-size: 2rem; font-weight: bold;">Inicio</span>
        </div>
        <div class="cards-container" style="display: flex; justify-content: space-between; height: 60%;">
            <div class="card principal-color">
                <img src="assets\dashboard\agendar-citas.svg" alt="">
                <div class="card-content">
                    <h2 class="card-title">Agendar<br>Nueva Cita</h2>
                </div>
            </div>

            <div class="card principal-color" routerLink="/medicamentos">
                <img src="assets\dashboard\solicitar-medicamentos.png" alt="">
                <div class="card-content">
                    <h2 class="card-title">Solicitar<br>Medicamento</h2>
                </div>
            </div>
            <div class="card principal-color">
                <img src="assets\dashboard\emergencia.png" alt="">
                <div class="card-content">
                    <h2 class="card-title">Emergencias</h2>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="bottom-card">
                <h2 class="card-title">Listado de Citas</h2>
            </div>
        </div>
    </div>
</div>


<!-- AQUI TE TOCA MARIO :) -->
