<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="breadcrumbs">
    <div class="botonMenu" routerLink="/dashboard">
      <img src="/assets/dashboard/home.png" width="20px" height="20px">
      <p style="padding-left: 1rem;">Inicio</p>
    </div>
    <!--divisor-->
    <img src="/assets/dashboard/flechaRight.png" width="20px" height="20px">
    <div href="#" style="padding: 0rem 0.8rem;">Agendar Cita</div>
    <!--divisor-->
</div>

<div class="displayrow">
  <div>
    <img src="/assets/dashboard/man.png" width="350px" class="lineImg">
    <h1 style="color: #06316B;"> Bienvenido a </h1>
    <h1 style="color: #06316B;"> MedicData</h1>
  </div>
  <div>
    <!-- Citas  activas -->
    <div class="displayrow card" style="margin-left: 2rem;">
      <img src="/assets/dashboard/citas.png" width="100px" >
      <div style="align-items: left; text-align: left; color: #06316B; margin-left: 2rem;">
        <h2>Tus Citas Activas</h2>
        <label> Revisa tus citas programadas</label>
      </div>
      <button style="width: 150px; height:50px; font-size: 20px; border-radius: 10rem; margin-left:1rem">Ver citas</button>
    </div>
    <!-- Crear una cita-->
    <div class=" card" style="margin-left: 2rem;">
      <img src="/assets/dashboard/newCita.png" width="100px" >
      <div  style="align-items: center; text-align: center; color: #06316B; margin-left: 2rem;">
        <h2 style="margin: 0rem;">Realizar una cita para ti o dependiente</h2>
        <p style="margin: 0.8rem 0rem;"> Revisa tus citas programadas</p>
      </div>
      <button style="width: 200px; height:50px; font-size: 20px; border-radius: 10rem; margin-left:1rem">Agendar citas</button>
    </div>
    <div class="displayrow card" style="margin-left: 2rem; justify-content: space-between;">
      <div style="align-items: left; text-align: left; color: #06316B; margin-left: 2rem;">
        <h2>Nuestras Clinicas</h2>
        <label> Conoce todas las clinicas disponibles en <b>MedicData</b></label>
      </div>
      <button style="width: 150px; height:50px; font-size: 20px; border-radius: 10rem; margin-left:1rem">Ver Clinicas</button>
    </div>
  </div>
</div>
