
  /* || GENERAL STYLES */
  
  h2 {
    color: #fff;
    text-align: center;
    font-size: 37px;
    font-weight: bold;
  }
  
  img {
    width: 20%;
    object-fit: cover;
  }
  
  .select-addcita{
    display: flex; 
    flex-direction: column; 
  }
  .window{
    padding-left: 2rem;
  }

