<!DOCTYPE html>
<html>
<head>
  <title>Citas medicas</title>

</head>
<body>
  <div class="dashboard-container">
    <div class="window">
    <h1 class="title" style="font-size: 35px; font-weight: 400;">Citas:</h1>
    <div style="width: 100%;">
        <div class="Columna1">
        <div class="select-addcita">
        <mat-label>Especialidad:</mat-label>
        <mat-form-field appearance="outline">
            <mat-select formControlName="especialidad">
              <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.value">
                {{ especialidad.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="select-addcita">
            <mat-label>Area:</mat-label>
            <mat-form-field appearance="outline">
                <mat-select formControlName="especialidad">
                  <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.value">
                    {{ especialidad.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="select-addcita">
            <mat-label>Clinica:</mat-label>
            <mat-form-field appearance="outline">
                <mat-select formControlName="especialidad">
                  <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.value">
                    {{ especialidad.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="select-addcita">
            <mat-label>Profesional:</mat-label>
            <mat-form-field appearance="outline">
                <mat-select formControlName="especialidad">
                  <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.value">
                    {{ especialidad.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        </div>
        <div class="Columna2">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Seleccionar fecha" [formControl]="selectedDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker (selectedChanged)="onDateSelected($event)"></mat-datepicker>
              </mat-form-field>
              
        </div>
    </div>
    </div>
  </div>
</body>
</html>
